# Ignore Terraform files
.terraform/
crash.log
*.tfvars
.terraform.lock.hcl

# Sensitive files
secrets.auto.tfvars
*.tfvars.json

# Ignore Terraform state and variable files
*.tfvars
*.tfstate.backup
.terraform/
.terraform.lock.hcl
